@model QuanLySanXuatDuoc.Models.tPhanCong

@{
    <title>Chi Tiết</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Chi Tiết Phân Công</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoPhanCong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhanCong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaPhanXuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPhanXuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

    </dl>
</div>
<p>
    <button type="button" onclick="location.href='@Url.Action("Edit", "DSPhanCong")'" class="btn btn-default">Sửa</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "DSPhanCong")'" class="btn btn-default">Trở Về</button>
</p>
