<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleLayout.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="display">
        <div class="display-menu">
            <div class="box-menu">
                <ul>
                    <li class="active">
                        <ion-icon name="home"></ion-icon>@Html.ActionLink("Trang Chủ", "../Home/Index")
                    </li>
                    <li>
                        <ion-icon name="unlink"></ion-icon>@Html.ActionLink("Thuốc", "../Home/Index")<ion-icon name="chevron-down"></ion-icon>
                        <div class="box-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Danh Sách Thuốc", "../DSThuoc/Index")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <ion-icon name="reader"></ion-icon>@Html.ActionLink("Phiếu Đặt", "../Home/Index")<ion-icon name="chevron-down"></ion-icon>
                        <div class="box-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Danh Sách Phiếu Đặt", "../DSPhieuDatHang/Index")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <ion-icon name="receipt"></ion-icon>@Html.ActionLink("Chi Tiết Phiếu", "../Home/Index")<ion-icon name="chevron-down"></ion-icon>
                        <div class="box-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Danh Sách Chi Tiết Phiếu", "../DSChiTietPhieuDatHang/Index")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <ion-icon name="storefront"></ion-icon>@Html.ActionLink("Phân Xưởng", "../Home/Index")<ion-icon name="chevron-down"></ion-icon>
                        <div class="box-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Danh Sách Phân Xưởng", "../DSPhanXuong/Index")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <ion-icon name="person"></ion-icon>@Html.ActionLink("Phân Công", "../Home/Index")<ion-icon name="chevron-down"></ion-icon>
                        <div class="box-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Danh Sách Phân Công", "../DSPhanCong/Index")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <ion-icon name="people"></ion-icon>@Html.ActionLink("Khách Hàng", "../Home/Index")<ion-icon name="chevron-down"></ion-icon>
                        <div class="box-submenu">
                            <ul>
                                <li>
                                    @Html.ActionLink("Danh Sách Khách Hàng", "../DSKhachHang/Index")
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#"><ion-icon name="logo-apple-ar"></ion-icon>@Html.ActionLink("Đăng Nhập", "../Login/Login")</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <footer>
        <hr>
        <p>Mọi việc chi tiết liên hệ MINH_DEV</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>