@model QuanLySanXuatDuoc.Models.tPhieuDatHang

@{
    <title>Chi Tiết</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h2 style="text-align: center">Thông Tin Chi Tiết Phiếu Đặt Hàng</h2>

<div>
    <dl class="dl-horizontal" style="margin: 0px 0px 0px 800px">
        <dt>
            @Html.DisplayNameFor(model => model.SoPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLapPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLapPhieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
        </dd>

    </dl>
</div>
<div class="form-actions no-color" style="margin: 0px 0px 0px 900px">
    <button type="button" onclick="location.href='@Url.Action("Edit", "DSPhieuDatHang")'" class="btn btn-default">Sửa</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "DSPhieuDatHang")'" class="btn btn-default">Trở Về</button>
</div>