@model QuanLySanXuatDuoc.Models.tChiTietPhieuDatHang

@{
    <title>Xóa</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h2 style="text-align: center">Xóa Thông Tin Chi Tiết Phiếu Đặt Hàng</h2>

<h3 style="text-align: center">Bạn Có Chắc Chắn Muốn Xóa?</h3>
<div>
    <dl class="dl-horizontal" style="margin: 0px 0px 0px 800px">
        <dt>
            @Html.DisplayNameFor(model => model.SoPhieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPhieu)
            <input type="hidden" value="@Html.DisplayFor(model => model.SoPhieu)" name="SoPhieu" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaThuoc)
            <input type="hidden" value="@Html.DisplayFor(model => model.MaThuoc)" name="MaThuoc" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuongDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongDat)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 0px 0px 0px 900px">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <button type="button" onclick="location.href='@Url.Action("Index", "DSChiTietPhieuDatHang")'" class="btn btn-default">Trở Về</button>
        </div>
    }
</div>