@model PagedList.IPagedList<QuanLySanXuatDuoc.Models.tChiTietPhieuDatHang>

@using PagedList.Mvc;
@{
    <title>Danh Sách Chi Tiết Phiếu Đặt Hàng</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

<div class="container" style="margin: 0px 0px 0px 430px">
    <div class="row">
        <div class="col-md-12">
            <h2 style="text-align: center">Danh Sách Chi Tiết Phiếu Đặt Hàng</h2>
            <table class="table">
                <tr>
                    <th>
                        Số Phiếu
                    </th>
                    <th>
                        Mã Thuốc
                    </th>
                    <th>
                        Số Lượng Đặt
                    </th>
                    <th>
                        Cài Đặt (
                        @Html.ActionLink("Thêm Mới", "../DSChiTietPhieuDatHang/Create") |
                        @Html.ActionLink("Tìm Kiếm", "../DSChiTietPhieuDatHang/Find")
                        )
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoPhieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaThuoc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongDat)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.SoPhieu, id2 = item.MaThuoc }) |
                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.SoPhieu, id2 = item.MaThuoc }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.SoPhieu, id2 = item.MaThuoc })
                        </td>
                    </tr>
                }

            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>