@model QuanLySanXuatDuoc.Models.tKhachHang

@{
    <title>Xóa</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h2 style="text-align: center">Xóa Thông Tin Khách Hàng</h2>

<h3 style="text-align: center">Bạn Có Chắc Chắn Muốn Xóa?</h3>
<div>
    <dl class="dl-horizontal" style="margin: 0px 0px 0px 800px">
        <dt>
            @Html.DisplayNameFor(model => model.MaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKH)
            @*@Html.EditorFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control", @readonly="readonly" } })*@
            <input type="hidden" value="@Html.DisplayFor(model => model.MaKH)" name="MaKH" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="margin: 0px 0px 0px 900px">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            <button type="button" onclick="location.href='@Url.Action("Index", "DSKhachHang")'" class="btn btn-default">Trở Về</button>
        </div>
    }
</div>