@model QuanLySanXuatDuoc.Models.tThuoc

@{
    <title>Chi Tiết</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông Tin Chi Tiết Thuốc</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyCach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyCach)
        </dd>

    </dl>
</div>
<p>
    <button type="button" onclick="location.href='@Url.Action("Edit", "DSThuoc")'" class="btn btn-default">Sửa</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "DSThuoc")'" class="btn btn-default">Trở Về</button>
</p>
