@model QuanLySanXuatDuoc.Models.tThuoc

@{
    <title>Chi Tiết</title>
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

<h2 style="text-align: center">Thông Tin Chi Tiết Thuốc</h2>

<div>
    <dl class="dl-horizontal" style="margin: 0px 0px 0px 800px">
        <dt>
            @Html.DisplayNameFor(model => model.MaThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyCach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyCach)
        </dd>

    </dl>
</div>
<div class="form-actions no-color" style="margin: 0px 0px 0px 900px">
    <button type="button" onclick="location.href='@Url.Action("Edit", "DSThuoc")'" class="btn btn-default">Sửa</button>
    <button type="button" onclick="location.href='@Url.Action("Index", "DSThuoc")'" class="btn btn-default">Trở Về</button>
</div>